@import url("https://fonts.googleapis.com/css?family=Hepta+Slab|Inconsolata|Nanum+Gothic&display=swap");
$hepta: "Hepta Slab", serif;
$nanum: "Nanum Gothic", sans-serif;
$inconsolata: "Inconsolata", monospace;
$gradient: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);

$default-font-size: 1.2rem;
$grid-bp-sm: 46em;
$grid-bp-md: 61em;
